.screen {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--mantine-color-body);
}

.content {
  flex: 1;
  padding: 10dvh var(--mantine-spacing-md) var(--mantine-spacing-md);
}

.footer {
  position: sticky;
  bottom: 0;
  padding: 0 var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  background-color: var(--mantine-color-body);
  border-radius: var(--mantine-radius-md);
}

.footerCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerInner {
  width: 100%;
  height: 100%;
  padding-top: var(--mantine-spacing-md, 1rem);
  padding-bottom: var(--mantine-spacing-md, 1rem);
}
