/* Root Variables */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;

  min-height: 100dvh;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;

  background-color: var(--mantine-color-body);
  box-shadow: var(--mantine-shadow-sm);
  border-bottom-left-radius: var(--mantine-radius-md);
  border-bottom-right-radius: var(--mantine-radius-md);
  border-bottom: 1px solid var(--mantine-color-default-border);
  padding: 0 var(--mantine-spacing-md);
}

main {
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-md);
  min-height: calc(100dvh - 92px);
}

svg {
  stroke-width: 1.2;
}

a {
  text-decoration: none;
  color: var(--mantine-color-text);
}
