.footer {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  max-width: 640px;
  z-index: 200;
  height: 64px;
  padding: 0 var(--mantine-spacing-md);

  /*box-shadow: 0 -6px 8px rgba(0, 0, 0, 0.05);*/
  border-top-left-radius: var(--mantine-radius-md);
  border-top-right-radius: var(--mantine-radius-md);
  border-top: 1px solid var(--mantine-color-default-border);

  backdrop-filter: blur(10px);

  background: var(--mantine-color-body);
  background: linear-gradient(to top, var(--mantine-color-body) 40%, transparent 100%);
}
